NEXT_PUBLIC_SUPABASE_URL=https://ojuadkbbbslbusmesanj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APP_URL=http://localhost:3000
RESEND_API_KEY=
EMAIL_FROM=Thales Franco <treinos@seu-dominio.com>
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_GRAPH_VERSION=
WHATSAPP_TEMPLATE_NAME=treino_semanal
WHATSAPP_TEMPLATE_LANGUAGE=pt_BR
